.findRequestPageName {
    margin: 15px 0 0 15px;
    color: darkblue;
}
.filters {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.filters input {
    width: 119px;
}
.filters label {
    width: 119px;
}
.filters td {
    text-align: center;
}
.container__list button {
    margin-bottom: 10px;
}
.requestsTable {
    border-collapse: collapse;
    color: #686461;
}
.requestsTable th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}
.requestsTable td {
    padding: 10px;
    text-align: center;
}
.requestsTable tr:nth-child(odd) {
    background: white;
}
.requestsTable tr:nth-child(even) {
    background: #E8E6D1;
}
td .date-input {
    width: 160px;
}